* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#home p{
    text-align:  justify;
}
.featured-products p{
    text-align: center;
}

#wrapper {
    flex: 1;
    
}

.product_list{
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
}

.fotorama {
    width: 50%;
    margin: 20px auto;
}

#home p {
    width: 80%;
    margin-right: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards */
}

.card {
    margin: 15px;
    max-width: 18rem; /* Set maximum width for cards */
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Jaro';
}

h1 {
    text-align: center;
    color: #333;
}

div h2 {
    padding-left: 10px;
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.contact-form {
    max-width: 500px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

p {
    margin-left: 10px;
}

footer a:link {
    color: #f8f9fa;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-bottom: 200px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

#map {
    margin-top: 50px;
}

.btn-primary {
    background-color: #ffd700;
    border-color: #ffd700;
}

.btn-primary:hover {
    background-color: #333;
    border-color: #333;
}

@media (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        margin: 15px;
        max-width: 300px;
    }

    .fotorama {
        width: 70%;
        margin: 20px auto;
    }

    #home p {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .card {
        max-width: 100%;
    }

    .fotorama {
      display: none;

    nav {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

 

    #home p {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .card {
        max-width: calc(100% - 30px); 
    }
}
}
